<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="2.0">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Python27\python.exe&quot; %s %s" resourceType="Unspecified" />
      <!-- scriptProcessor 的值来自命令行工具 wfastcgi-enable -->
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python27\python.exe|c:\python27\lib\site-packages\wfastcgi.pyc" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
        <!-- URL 重写中的特殊字符，比如加号+等等 -->
        <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <!-- 在这里指定Falsk app在模块中的具体位置 -->
    <add key="WSGI_HANDLER" value="api.app" />
    <add key="PYTHONPATH" value="~/" />

    <!-- Optional settings -->
    <!-- 需要先创建日志目录，否则报错 -->
    <add key="WSGI_LOG" value="E:\\AMZ_Aanalyzer\\flask.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />

  </appSettings>
</configuration>